<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="papago.mapper.PapagoMapper">
	<insert id="insertTranslate" parameterType="papago.dto.PapagoDTO">
		insert into papago(text,target,source) values (#{text},#{target},#{source}) 
	</insert>

</mapper>